.app{
	margin:0;
	padding: 0;
	width: 100%;
}
.login-account{
	margin: 0;
	padding: 0;
}
.login-account img {
	float: left;
	margin-top: 130px;
	margin-left: 210px;
}
.sign-up {
	float: right;
	margin-top: 100px;
	margin-right: 210px;
	font-size: 18px;
	line-height: 27px;
}
.sign-up>h1{
	font-size: 48px;
	line-height: 72px;
	color: #323C47;
}
.button-google{ 
	height: 65px;
	width: 405px;
	color: #323C47;
	border: 1px solid #C4C4C4;
	box-sizing: border-box;
	border-radius: 4px;
	background-color: #fff;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0.01em;
}
.form-input {
	width: 405px;
	background-color: #fff;
	border: none;
	border-bottom: 1px solid #8C8C8C;
	outline: none;
	margin-top: 50px;
	display: block;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0.01em;
}
.form-input:focus{
	border-bottom:1px solid #109CF1;
}
.send-form {
	background: #109CF1;
	box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
	border-radius: 4px;
	margin-top: 30px;
	padding: 5px 15px;
	color: #fff;
	text-align: center;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0.01em;
	border: none;
}

.sign-up>p>a{
	color: #109CF1;	
}