body{
	background-color:#8b38c2;
	padding: 5%;
}
.container{
	height: auto;
	width: 100%;
}
.status{
	width: 40px;
	height: 40px;
	margin-right: 30px;
	vertical-align: -10px;
	display: inline-block;
	background-size: 100% 100%;
}
.pending{
	background-image: url('./image/pending.png');
}
.done{
	background-image: url('./image/done.png');
}
.inprogress{
	background-image: url('./image/inprogress.png');
}
.task>p{
	display: inline-block;
	font-size:1.8em;
	color:#fff;
	font-weight: bold;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
.task{
	margin-top: 20px;
	vertical-align:middle;
}
.tasks-part1,.tasks-part2,.tasks-points{
	float:left;
	display: inline-block;
}
.tasks-points{
	margin: 45px 170px 0px 170px;
}
.mob{
	display: none;
}
.point{
	height: 40px;
	width: 40px;
	background-image: url('./image/circle.png');
	background-size: 100% 100%;
}
.active-point{
	background-image: url('./image/active.png')!important;
}
.point-pending{
	height: 40px;
	width: 40px;
	background-image: url('./image/circle-pending.png');
	background-size: 100% 100%;
}
.line{
	height: 72px;
	width: 40px;
	background-image: url('./image/line.png');
	background-size: 100% 100%;
}
.line-pending{
	height: 72px;
	width: 40px;
	background-image: url('./image/line-pending.png');
	background-size: 100% 100%;
}
.active{
	color:#ffcd03!important;
}
.rot {
  animation: 2s linear 0s normal none infinite running rot;
  -webkit-animation: 2s linear 0s normal none infinite running rot;
}
.transparent50 {
    filter: alpha(Opacity=50);
    opacity: 0.5; 
}
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 1300px) {
	.task p{font-size:1em;}
	.tasks-points{margin: 23px 120px 0px 120px;}
	.line,.line-pending{
		height: 30px;
	}
}
@media screen and (max-width: 1000px) {
	.tasks-points{margin: 30px 70px 0px 70px;}
	.status{
		width: 20px;
		height: 20px;
		vertical-align: -3px;
	}
	.point,.point-pending{
		width: 20px;
		height: 20px;
	}
	.line,.line-pending{
		width: 20px;
		height: 52px;
	}
}

@media screen and (max-width: 800px) {
	.tasks-points{margin: 30px 30px 0px 30px;}
	.status{
		width: 18px;
		height: 18px;
	}
	.line,.line-pending{
		width: 18px;
		height: 49px;}
	.task>p{font-size:0.9em;}
	.point,.point-pending{
		width: 18px;
		height: 18px;
	}
}
@media screen and (max-width: 650px) {
	.task>p{font-size:1em;}
	.task{margin-top: 0;}
	.no-mob{display: none;}
	.mob{display: block;}
	.line,.line-pending{height: 33px;}
	.tasks-points{margin:15px 0px 0px 30px;}
}
@media screen and (max-width: 400px) {
	.task>p{font-size:0.7em;}
	.tasks-points{margin:10px 0px 0px 15px;}
	.status{
		width: 15px;
		height: 15px;
	}
	.point,.point-pending{
		width: 15px;
		height: 15px;
	}
	.line,.line-pending{
		width: 15px;
		height: 20.5px;
	}
}

